<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ColorFilter</title>
  </head>
  <body style="background: #1a1a1a">
    <div
      class="container"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <img
        src="./logo.png"
        style="border-radius: 1rem; margin: 2.5rem; height: 150px; width: 150px"
        alt="logo"
      />
      <h3 style="color: #f1f1f1">
        STATUS: <span style="color: #f10000">OFFLINE</span>
      </h3>
    </div>
  </body>
</html>
